@font-face {
  font-family: 'Noto Sans Arabic';
  src: url("/fonts/NotoSansArabic-VariableFont_wdth,wght.ttf");
  font-weight: 700
}
@font-face {
  font-family: Karla;
  src: url('/fonts/Karla-VariableFont_wght.ttf');
}
body {
  font-family: Karla;
  margin: 0
}
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  div.content {
    flex-direction: row;
    display: flex;
    margin-bottom: 0;
  }
  div.space, div.letters {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  div.letters {
    width: 50vw;
    min-height: 100vh;
    background: #facade;
  }
  div.space {
    direction: rtl;
    width: 50vw;
    left: 50vw;
    min-height: 100vh;
    background: #e9dfc4;
    background: linear-gradient(to right, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
    background-size: 120px;
    background-repeat: repeat;
  }

  div.space span.letter-drop {
    color: #fff;
    font-weight: 900;
    font-family: 'Noto Sans Arabic';
    -webkit-text-stroke: 5px #fff;
  }
span.letter-drop, span.letter {
  font-family: "Noto Sans Arabic";
  font-size: 5.25vw;
  margin: 0.5em;
  line-height: 0.5em;
  display: inline-block;
  height: 0.75em
}

div.letters div, div.space div {
  display: inline-block
}


.alif, .khaa, .sheen, .gain, .noon {
  color: #f18829;
  text-shadow: #ef7b11 1px 1px, #f7bd89 -1px -1px, #f37841 -2px -2px 6px, #f49d4f -2px -2px, #f49d4f -1px -2px, #f49d4f -1px -3px;
  transform: rotate(-3deg);
}
.baa, .daal, .suad, .faa, .waw {
  color: #00b9ed;
  text-shadow: #00a5d4 1px 1px, #54d9ff -1px -1px, #08f2ff -2px -2px 6px, #17ccff -2px -2px, #17ccff -1px -2px, #17ccff -1px -3px;
  transform: rotate(3deg) translateY(4%);
}
.taa, .zaal, .duad, .qaaf, .small-haa {
  color: #ed5053;
  text-shadow: #eb393c 1px 1px, #f7acae -1px -1px, #ef6780 -2px -2px 6px, #f17577 -2px -2px, #f17577 -1px -2px, #f17577 -1px -3px;
  transform: rotate(-3deg);
}
.saa, .raa, .taa-heavy, .kaaf, .hamzah {
  color: #00af4f;
  text-shadow: #009643 1px 1px, #16ff7f -1px -1px, #00c939 -2px -2px 6px, #00d861 -2px -2px, #00d861 -1px -2px, #00d861 -1px -3px;
  transform: rotate(-2deg);
}
.jeem, .zaai, .zaa-heavy, .laam, .yaa {
  color: #8e509f;
  text-shadow: #7f478e 1px 1px, #ba8fc6 -1px -1px, #8e5cad -2px -2px 6px, #a266b2 -2px -2px, #a266b2 -1px -2px, #a266b2 -1px -3px;
  transform: rotate(3deg) translateY(-2%);
}
.haa, .seen, .ain, .meem {
  color: #f9de00;
  text-shadow: #e0c700 1px 1px, #ffee60 -1px -1px, #ffbe14 -2px -2px 6px, #ffe723 -2px -2px, #ffe723 -1px -2px, #ffe723 -1px -3px;
  transform: rotate(5deg) translateY(1%);
}
.alert {
  display: none
}
@media screen and (orientation: portrait) {
  .alert {
    background: cornflowerblue;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-weight: bold;
    width: 100vw;
    position: absolute;
    z-index: 1000;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 1.75em;
    padding: 3em;
  }
}
